function Cell.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 1
push argument 1
pop this 2
push argument 2
pop this 3
push argument 3
pop this 4
push pointer 0
call Cell._defineCoordinates 1
pop temp 0
push pointer 0
call Cell._generateBorder 1
pop temp 0
push pointer 0
return
function Cell._defineCoordinates 0
push argument 0
pop pointer 0
push this 1
push this 4
call Math.multiply 2
pop this 5
push this 2
push this 3
call Math.multiply 2
pop this 6
push this 5
push this 4
add
push constant 512
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 4
push constant 1
sub
pop this 4
label IF_FALSE0
push this 6
push this 3
add
push constant 256
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 3
push constant 1
sub
pop this 3
label IF_FALSE1
push constant 0
return
function Cell._generateBorder 0
push argument 0
pop pointer 0
push constant 1
push constant 4
call LCGRandom.randRange 2
pop this 0
push constant 0
return
function Cell.render 0
push argument 0
pop pointer 0
push this 0
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 5
push this 6
push this 5
push this 6
push this 3
add
call Screen.drawLine 4
pop temp 0
label IF_FALSE0
push this 0
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 5
push this 6
push this 5
push this 4
add
push this 6
call Screen.drawLine 4
pop temp 0
label IF_FALSE1
push this 0
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 5
push this 4
add
push this 6
push this 5
push this 4
add
push this 6
push this 3
add
call Screen.drawLine 4
pop temp 0
label IF_FALSE2
push this 0
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 5
push this 6
push this 3
add
push this 5
push this 4
add
push this 6
push this 3
add
call Screen.drawLine 4
pop temp 0
label IF_FALSE3
push constant 0
return
