function Cell.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push pointer 0
return
function Cell.generateBorder 1
push argument 0
pop pointer 0
push constant 1
push constant 4
call LCGRandom.randRange 2
pop this 0
push constant 0
return
function Cell.getBorder 0
push argument 0
pop pointer 0
push this 0
return
