function Hunter.new 3
push constant 10
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 2
push this 2
push constant 0
push constant 0
call Labirinth.getCellFromRowCol 3
pop local 2
push constant 2
pop this 3
push constant 10
pop this 4
push constant 10
pop this 5
push local 2
call Cell.getX 1
push local 2
call Cell.getWidth 1
push constant 2
call Math.divide 2
add
push this 4
push constant 2
call Math.divide 2
sub
pop local 0
push local 2
call Cell.getY 1
push local 2
call Cell.getHeight 1
push constant 2
call Math.divide 2
add
push this 5
push constant 2
call Math.divide 2
sub
pop local 1
push local 0
push local 1
push this 3
push this 4
push this 5
call Avatar.new 5
pop this 0
push this 2
push this 0
call Moover.new 2
pop this 1
push pointer 0
return
function Hunter.move 0
push argument 0
pop pointer 0
push this 7
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Hunter._setHunterDirection 1
pop temp 0
push constant 0
not
pop this 7
label IF_FALSE0
push this 1
push this 6
call Moover.move 2
pop temp 0
push pointer 0
call Hunter._hasHunterMoved 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop this 7
label IF_FALSE1
push constant 0
return
function Hunter._setHunterDirection 1
push argument 0
pop pointer 0
push constant 0
not
pop local 0
push this 2
push this 0
call Labirinth.getCurrentCell 2
pop this 8
label WHILE_EXP0
push local 0
not
if-goto WHILE_END0
push constant 1
push constant 4
call LCGRandom.randRange 2
pop this 6
push this 2
push this 0
push this 6
call Labirinth.getCellFromDirection 3
pop this 9
push this 9
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 8
call Cell.getBorder 1
push this 6
eq
push this 9
call Cell.getBorder 1
push this 2
push this 6
call Labirinth.getParallelWall 2
eq
or
pop local 0
label IF_FALSE0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Hunter._hasHunterMoved 1
push argument 0
pop pointer 0
push this 2
push this 0
call Labirinth.getCurrentCell 2
pop this 8
push this 8
push this 9
eq
push this 0
call Avatar.getX 1
push this 0
call Avatar.getWidth 1
push constant 2
call Math.divide 2
add
push this 9
call Cell.getX 1
push this 9
call Cell.getWidth 1
push constant 2
call Math.divide 2
add
eq
and
push this 0
call Avatar.getY 1
push this 0
call Avatar.getHeight 1
push constant 2
call Math.divide 2
add
push this 9
call Cell.getY 1
push this 9
call Cell.getHeight 1
push constant 2
call Math.divide 2
add
eq
and
pop local 0
push local 0
return
function Hunter.destroy 0
push argument 0
pop pointer 0
push this 0
call Avatar.destroy 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Hunter.getSpeed 0
push argument 0
pop pointer 0
push this 3
return
function Hunter.getWidth 0
push argument 0
pop pointer 0
push this 4
return
function Hunter.getHeight 0
push argument 0
pop pointer 0
push this 5
return
