function Labirinth.new 2
push constant 1
call Memory.alloc 1
pop pointer 0
push constant 8
pop local 0
push constant 8
pop local 1
push local 0
push local 1
call Grid.new 2
pop this 0
push pointer 0
return
function Labirinth.render 0
push argument 0
pop pointer 0
push this 0
call Grid.render 1
pop temp 0
push constant 0
return
function Labirinth.getBlock 5
push argument 0
pop pointer 0
push argument 1
push this 0
call Grid.getCellWidth 1
call Math.divide 2
pop local 1
push argument 2
push this 0
call Grid.getCellHeight 1
call Math.divide 2
pop local 2
push constant 1
call String.new 1
push constant 120
call String.appendChar 2
push argument 1
call Debugger.log 2
pop temp 0
push constant 19
call String.new 1
push constant 103
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 41
call String.appendChar 2
push this 0
call Grid.getCellWidth 1
call Debugger.log 2
pop temp 0
push constant 1
call String.new 1
push constant 121
call String.appendChar 2
push argument 2
call Debugger.log 2
pop temp 0
push constant 20
call String.new 1
push constant 103
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 41
call String.appendChar 2
push this 0
call Grid.getCellHeight 1
call Debugger.log 2
pop temp 0
push constant 3
call String.new 1
push constant 114
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 119
call String.appendChar 2
push local 1
call Debugger.log 2
pop temp 0
push constant 3
call String.new 1
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 108
call String.appendChar 2
push local 2
call Debugger.log 2
pop temp 0
push this 0
push local 1
push local 2
call Grid.getCell 3
pop local 0
push local 0
call Cell.getX 1
pop argument 1
push local 0
call Cell.getY 1
pop argument 2
push constant 0
return
function Labirinth.destroy 0
push argument 0
pop pointer 0
push this 0
call Grid.destroy 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
