function Labirinth.new 2
push constant 1
call Memory.alloc 1
pop pointer 0
push constant 8
pop local 0
push constant 8
pop local 1
push local 0
push local 1
call Grid.new 2
pop this 0
push pointer 0
return
function Labirinth.render 0
push argument 0
pop pointer 0
push constant 0
return
function Labirinth.destroy 0
push argument 0
pop pointer 0
push this 0
call Grid.destroy 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
