function Moover.move 5
push argument 2
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
push argument 1
push argument 2
call Moover._isWall 3
not
pop local 0
push argument 2
push constant 1
eq
pop local 1
push argument 2
push constant 2
eq
pop local 2
push argument 2
push constant 3
eq
pop local 3
push argument 2
push constant 4
eq
pop local 4
push local 1
push local 0
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
call Avatar.moveLeft 1
pop temp 0
label IF_FALSE1
push local 2
push local 0
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 1
call Avatar.moveUp 1
pop temp 0
label IF_FALSE2
push local 3
push local 0
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push argument 1
call Avatar.moveRight 1
pop temp 0
label IF_FALSE3
push local 4
push local 0
and
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push argument 1
call Avatar.moveDown 1
pop temp 0
label IF_FALSE4
push constant 5
call Sys.wait 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Moover._isWall 8
push constant 0
pop local 0
push argument 1
push argument 0
call Moover._getCurrentBlock 2
pop local 5
push argument 2
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
call Avatar.getX 1
push argument 1
call Avatar.getSpeed 1
sub
pop local 1
push argument 1
call Avatar.getY 1
pop local 2
push argument 0
push local 1
push constant 10
sub
push local 2
call Labirinth.getBlockFromXY 3
pop local 6
push local 1
push local 5
call Cell.getX 1
sub
pop local 4
push local 4
push constant 0
lt
push local 4
push constant 0
eq
or
pop local 7
push local 7
push local 5
call Cell.getBorder 1
push constant 1
eq
push local 6
call Cell.getBorder 1
push constant 3
eq
or
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop local 0
label IF_FALSE1
label IF_FALSE0
push argument 2
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 1
call Avatar.getX 1
pop local 1
push argument 1
call Avatar.getY 1
push argument 1
call Avatar.getSpeed 1
sub
pop local 2
push argument 0
push local 1
push local 2
push constant 10
sub
call Labirinth.getBlockFromXY 3
pop local 6
push local 2
push local 5
call Cell.getY 1
sub
pop local 3
push local 3
push constant 0
lt
push local 3
push constant 0
eq
or
pop local 7
push local 7
push local 5
call Cell.getBorder 1
push constant 2
eq
push local 6
call Cell.getBorder 1
push constant 4
eq
or
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
not
pop local 0
label IF_FALSE3
label IF_FALSE2
push argument 2
push constant 3
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push argument 1
call Avatar.getX 1
push argument 1
call Avatar.getSpeed 1
add
push argument 1
call Avatar.getSize 1
add
pop local 1
push argument 1
call Avatar.getY 1
pop local 2
push argument 0
push local 1
push constant 10
add
push local 2
call Labirinth.getBlockFromXY 3
pop local 6
push local 1
push local 5
call Cell.getX 1
push local 5
call Cell.getWidth 1
add
sub
pop local 4
push local 4
push constant 0
gt
push local 4
push constant 0
eq
or
pop local 7
push local 7
push local 5
call Cell.getBorder 1
push constant 3
eq
push local 6
call Cell.getBorder 1
push constant 1
eq
or
and
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
not
pop local 0
label IF_FALSE5
label IF_FALSE4
push argument 2
push constant 4
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push argument 1
call Avatar.getX 1
pop local 1
push argument 1
call Avatar.getY 1
push argument 1
call Avatar.getSpeed 1
add
push argument 1
call Avatar.getSize 1
add
pop local 2
push argument 0
push local 1
push local 2
push constant 10
add
call Labirinth.getBlockFromXY 3
pop local 6
push local 2
push local 5
call Cell.getY 1
push local 5
call Cell.getHeight 1
add
sub
pop local 3
push local 3
push constant 0
gt
push local 3
push constant 0
eq
or
pop local 7
push local 7
push local 5
call Cell.getBorder 1
push constant 4
eq
push local 6
call Cell.getBorder 1
push constant 2
eq
or
and
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 0
not
pop local 0
label IF_FALSE7
label IF_FALSE6
push local 0
return
function Moover._getCurrentBlock 3
push argument 0
call Avatar.getX 1
pop local 0
push argument 0
call Avatar.getY 1
pop local 1
push argument 1
push local 0
push local 1
call Labirinth.getBlockFromXY 3
pop local 2
push local 2
return
