function Player.new 3
push constant 6
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 2
push this 2
push constant 0
push constant 0
call Labirinth.getCellFromRowCol 3
pop local 2
push constant 2
pop this 3
push constant 5
pop this 4
push constant 5
pop this 5
push local 2
call Cell.getX 1
push local 2
call Cell.getWidth 1
push constant 2
call Math.divide 2
add
push this 4
push constant 2
call Math.divide 2
sub
pop local 0
push local 2
call Cell.getY 1
push local 2
call Cell.getHeight 1
push constant 2
call Math.divide 2
add
push this 5
push constant 2
call Math.divide 2
sub
pop local 1
push local 0
push local 1
push this 3
push this 4
push this 5
call Avatar.new 5
pop this 0
push this 2
push this 0
call Moover.new 2
pop this 1
push pointer 0
return
function Player.render 0
push argument 0
pop pointer 0
push this 0
call Avatar.render 1
pop temp 0
push constant 0
return
function Player.move 1
push argument 0
pop pointer 0
push pointer 0
call Player._getPlayerDirection 1
pop local 0
push this 1
push local 0
call Moover.move 2
pop temp 0
push constant 0
return
function Player._getPlayerDirection 2
push argument 0
pop pointer 0
call Keyboard.keyPressed 0
pop local 1
push local 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 0
label IF_FALSE0
push local 1
push constant 130
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
pop local 0
label IF_FALSE1
push local 1
push constant 131
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 2
pop local 0
label IF_FALSE2
push local 1
push constant 132
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 3
pop local 0
label IF_FALSE3
push local 1
push constant 133
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 4
pop local 0
label IF_FALSE4
push local 0
return
function Player.destroy 0
push argument 0
pop pointer 0
push this 0
call Avatar.destroy 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Player.getSpeed 0
push argument 0
pop pointer 0
push this 3
return
function Player.getWidth 0
push argument 0
pop pointer 0
push this 4
return
function Player.getHeight 0
push argument 0
pop pointer 0
push this 5
return
